.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 1440px;
  padding: 20px;
}
.cards-block {
  position: relative;
  width: 375px;
  min-height: 375px;
  height: auto;
  margin-bottom: 40px;
  display: grid;
  justify-content: center;
}
.stub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.cardWrapper {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 5px 2px rgba(125, 126, 125, 0.108);
  width: 375px;
  min-height: 375px;
  max-height: fit-content;
  margin: 0 auto;
  top: 0;
  left: 0;
  transition: 0.4s;
  grid-column: 1/1;
  grid-row: 1/1;
  background-color: #fff;
  border-radius: 12px;
  overflow: hidden;
}
.cardWrapper > img {
  width: 100%;
  display: block;
}

.cardWrapper.active {
  top: 10px;
  width: 100%;
  left: 0;
  transform-origin: center;
  box-shadow: 0 0 5px 2px rgba(18, 235, 18, 0.108);
}
.cardWrapper:last-of-type.swipeToLeft {
  animation: swipeToLeft 1s normal 0s 1 linear forwards;
}

.swipeToRight {
  animation: swipeToRight 1s normal 0s 1 linear forwards;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 12px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn.active {
  background-color: #7c96755d;
}

.btn.inactive {
  background-color: #1a1a1a30;
}

.left {
}

@media screen and (max-width: 1365px) {
}

@media screen and (max-width: 767px) {
}

@keyframes swipeToLeft {
  0% {
    transform: none;
  }

  100% {
    transform: rotate(-26deg) translateX(-200%);
  }
}

@keyframes swipeToRight {
  0% {
    transform: none;
  }

  100% {
    transform: rotate(26deg) translateX(200%);
  }
}
