.section {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100%;
}
.cards-block {
  position: relative;
  width: 90%;
  height: 90vw;
  max-width: 375px;
  max-height: 375px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardWrapper {
  position: absolute;
  box-shadow: 0 0 5px 2px rgba(179, 181, 179, 0.108);
  top: 0;
  transition: 0.4s;
}
.cardWrapper > img {
  max-width: 100%;
  display: block;
}

.cardWrapper.active {
  top: 10px;
  width: 100%;
  left: 0;
  transform-origin: center;
  box-shadow: 0 0 5px 2px rgba(121, 123, 121, 0.377);
}
.cardWrapper.swipeToLeft {
  animation: swipeToLeft 1s normal 0s 1 linear forwards;
}

.swipeToRight {
  animation: swipeToRight 1s normal 0s 1 linear forwards;
}

.buttons {
  display: flex;
  gap: 20px;
}

.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 12px;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn.active {
  background-color: #7c96755d;
}

.btn.inactive {
  background-color: #1a1a1a30;
}

.left {
}

@media screen and (max-width: 1365px) {
}

@media screen and (max-width: 767px) {
}

@keyframes swipeToLeft {
  0% {
    transform: none;
  }

  100% {
    transform: rotate(-26deg) translateX(-200%);
  }
}

@keyframes swipeToRight {
  0% {
    transform: none;
  }

  100% {
    transform: rotate(26deg) translateX(200%);
  }
}
